* {
    margin: 0;
}

body{
    background-color: #fff;
    margin: 0;
}

section#navegation {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    padding: 14px 32px 15px 32px;
    border: none;
    border-radius: 30px;
}

a{
    text-decoration: none;
    padding-right: 10px;
    color: #fff;
}

div#nav img{
    width: auto;
    height: 38px;
}

section#home {
    background-image: url(imagens/background.png);
    background-size: 100%;
    background-repeat: no-repeat;

    padding-bottom: 200px;
}

section#home h1{
    color: #fff;
}

section#home p{
    color: #fff;
}

div#start {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    padding-top: 250px;
    padding-left: 200px;

}

div#start h1 {
    font-size: 47px;

    padding-bottom: 30px;
}
/*About section*/

section#about {
    padding-top: 80px;
    padding-bottom: 80px;
}

div#title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#title h1{
    font-size: 40px;
    color: rgb(162, 0, 255);

    padding-bottom: 20px;
}

div#title p {
    font-size: 20px;
    color: #000;
}

/*Business section*/

section#business {
    padding-bottom: 50px;
    padding-top: 10px;

    display: grid;
    grid-template-columns: repeat(3, 370px);
    place-content: center;
    gap: 12px;
}

div#services {
    background: #f3f2f2;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    padding: 80px 10px 80px 10px;

    padding-top: 40px;

    overflow: hidden;
}

div#services p {
    color: #a19f9f;
    font-size: 12px;
    font-weight: 600;
    padding: 14px 22px 22px;
  }

div#services h2 {
    color: #b7b7b9;
    font-weight: 900;
    font-size: 20px;
    padding: 14px 32px 0;
  }

/*Project section*/

.page1 {
    background-color:#ABC6BF;
    display: flex;
    flex-direction: column;
}
.page1 div h1 {
    font-family: 'Dosis', 'regular' ;
    color: #000;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: -150px;
    margin-top: 50px;



}
.page2 {
    background-color: rgb(0, 250, 62);
}
.page3 {
    background-color: rgb(30, 255, 225);
}
.page4 {
    background-color: rgb(173, 30, 255);
}
.page5 {
    background-color: rgb(30, 34, 255);
}
.page6 {
    background-color: rgb(255, 251, 30);
}
.page7 {
    background-color: rgb(0, 0, 0);
}
.interface{
    height: 100vh;
    overflow-y: scroll;

    
}
.interface section {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    
}
div#project {
    width: 100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

div#proj{
    margin-top: 300px;
    }
div#proj h2 {

    font-family: 'Dosis', 'regular' ;
    color: #000;
    font-size: 60px;
    font-weight: 500;

    padding-bottom: 20px;
}

div#proj p {
    color: #fff;
    font-family: 'Dosis';
    font-size: 39px;

    padding-bottom: 20px;
}

div#proj img{

   
    width: 109%;
    height: 105%;
}

div#proj button {
    margin-top: 100px;
    font-size: 30px;
    width: 453px;
    height: 84px;
    /* UI Properties */
    background: #7831D7;
    border-radius: 25px;
    opacity: 1;

}

a {
    text-decoration: none;
}


/*budget section*/

section#budget {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
}

div#assessment h1, p {
    color: #000;
}

div#assessment h1 {
    font-size: 60px;
}

div#assessment p {
    font-size: 20px;

    padding-bottom: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;

    padding-top: 30px;
    padding-bottom: 30px;
}

footer h3 {
    color: #fff;
}
