* {
    margin: 0;
}

body{
    background-color: #fff;
    margin: 0;
}

section#navegation {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

#nav {
    position: fixed;
    top: 0; /* Ajuste conforme necessário */
    right: 80px; /* Define o menu no lado direito da página */
   
    padding: 20px; /* Adiciona algum espaço ao redor dos itens do menu */
}

#nav a {
   
    margin-bottom: 10px; /* Adiciona um espaço entre os links */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    color: #ffffff; /* Cor do texto dos links */
}

a{  
    text-decoration: none;
    padding-right: 20px;
    color: #fff;
}

div#logo{

    margin-left: 100px;
}

div#logo img{

    width: auto;
    height: 50px;
}
div#nav {
    font-size: 1.2em;
    font-family: 'Dosis', 'regular' ;
}

.burger {
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    margin-left: 120px;
}

.burger input {
    display: none;
}

.burger span {
    display: none;
    position: absolute;

  height: 4px;
  width: 100%;
  background: #7831D7;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  top: 28px;
  left: 5px;
  transform: rotate(-405deg);
}


section#home h1{
    color: #990000;
}

section#home p{
    color: hsl(0, 56%, 40%);
}

.fundo {
    position: relative; 
    width: 100%; 
    margin: 0 ; 
}

.fundo img {
    width: 100%; 
    height: auto; 
}

#start {
    display: flex;
    flex-direction:column;
    position: absolute; 
    top: 35%; 
    left:30%; 
    transform: translate(-50%, -50%);
    color: white; 
 
}


div#start h1 {
    font-size: 3.1em;
    font-family: 'Kdam Thmor Pro', 'regular';
    font-weight: 100;
    padding-bottom: 3vh; 
}
div#start p {
    font-size: 1.1em;
    font-family: 'dosis', 'regular';
    font-weight: 100;
    padding-bottom: 1vh;
}
/*About section*/

section#about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

div#title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#title h1{
    font-size: 3.1vw;
    font-family: 'Kdam Thmor Pro', 'regular';
    font-weight: 100;
    padding-bottom: 3vh; 
    color: rgb(162, 0, 255);

}

div#title p {
    font-size: 2.1vw;
    font-family: 'dosis', 'regular';
    font-weight: 100;
    padding-bottom: 1vh;
    color: #000;
}

/*Business section*/

section#business {
    
    padding-bottom: 50px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

div#services {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f3f2f2;
    border-radius: 8px;
    width: 350px;
    height: 230px;
    margin: 20px;
    padding: 80px 10px 80px 10px;
    padding-top: 40px;

    overflow: hidden;
}
div#services h2 {
    color: #959597;
    font-size: 2.1em;
    font-family: 'Kdam Thmor Pro', 'regular' ;
    font-weight: 1;
    padding: 14px 32px 0;
  }


div#services p {
    color: #a19f9f;
    font-size: 1.1em;
    font-family: Dosis,Regular;

    padding: 14px 22px 22px;
  }


/*Project section*/


div#project {
    width: 100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

div#proj{
    margin-top: 300px;
    }
div#proj h2 {

    font-family: 'Dosis', 'regular' ;
    color: #000;
    font-size: 60px;
    font-weight: 500;

    padding-bottom: 20px;
}

div#proj p {
    color: #fff;
    font-family: 'Dosis';
    font-size: 39px;

    padding-bottom: 20px;
}

div#proj img{

   
    width: 109%;
    height: 105%;
}


.page1 {
    background-color:#ABC6BF;
    display: flex;
    flex-direction: column;
}
.page1 div h1 {
    font-family: 'Kdam Thmor Pro', 'regular' ;
    color: #000;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: -150px;
    margin-top: 50px;
}
.page1 #project h2{
    font-family: 'Kdam Thmor Pro', 'regular' ;
}
.page1 #project p {
    font-family: 'Dosis', 'regular' ;
}
.page1 #project #proj button{
    padding: 5px 60px 5px 60px;
    border: none;
    border-radius: 15px;
    background-color: #7831D7;
}
.page1 #project #proj button a {

    font-size: 25px;
    font-family: 'Dosis', 'regular' ;
}

.interface section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    scroll-snap-align: center;
    position: sticky;
    color: aliceblue;
}

/*budget section*/

section#budget {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
}
#budget #assessment button{
    padding: 10px 60px 10px 60px;
    border: none;
    border-radius: 25px;
    background-color: #7831D7;
}
div#assessment button a {
    font-family: 'Dosis', 'regular' ;
    font-size: 20px;
    color: #ffffff;
} 


div#assessment h1 {
    color: #000;
    font-family: 'Kdam Thmor Pro', 'regular' ;
    font-weight: 100;
    font-size: 60px;
}

div#assessment p {
    color: #000;
    font-family: 'Dosis', 'regular' ;
    font-size: 20px;

    padding-bottom: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;

    padding-top: 30px;
    padding-bottom: 30px;
}

footer h3 {
    font-family: 'Kdam Thmor Pro', 'regular' ;
    color: #fff;
    font-weight: 100;
}
footer #end img{
    width: auto;
    height: 50px;
}



@media only screen and (max-width: 713px) {
    .burger {
        display: flex;
        margin-left: 0px;
    }
    
    .burger input {
      display: none;
    }
    
    .burger span {
      display: block;
    }
    
    section#navegation {

        display: flex;
    }
    div#nav{

    }
    div#logo{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-left: 42%;
    }
    div#nav img{
        width: auto;
        height: 50px;
        margin-right: 110px;
    
    }

    div#nav a {
        display: none;
    }
    #start {

        top: 50%; 
        left: 38%; 
        }
    div#start h1 {
        font-size: 6.1vw;
        font-family: 'Kdam Thmor Pro', 'regular';
        font-weight: 100;
        padding-bottom: 3vh; 
    }
    div#start p {
        font-size: 3.1vw;
        font-family: 'dosis', 'regular';
        font-weight: 100;
        padding-bottom: 1vh;
    }


    div#title h1{
        font-size: 5.1vw;
        font-family: 'Kdam Thmor Pro', 'regular';
        font-weight: 100; 
        color: rgb(162, 0, 255);

    }

    div#title p {
        font-size: 4.1vw;
        font-family: 'dosis', 'regular';
        font-weight: 100;
        padding-bottom: 1vh;
        color: #000;
    }
    /*Business section*/
    
div#services {

    width: 300px;
    height: 200px;
}
    section#business {

    }


    div#services p {
        padding: 14px;
      }
    
    div#services h2 {
        font-size: 20px;
      }
    /*Budget section */
    div#assessment h1 {
        font-size: 30px;
    }
    
    div#assessment p {
        font-size: 13px;
    
        padding-bottom: 20px;
    }
    

    /*footer*/
    footer h3{
        font-size: 10px;
    }

    footer img {
        height: auto;
        width: 40px;
    }
}


